@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* HomePage */
.home{
    background-color: #FF3C78;
    -webkit-box-shadow: 9px 11px 71px 12px rgba(247, 128, 165, 0.31);
-moz-box-shadow: 9px 11px 71px 12px rgba(247, 128, 165, 0.31);
box-shadow: 9px 11px 71px 12px rgba(247, 128, 165, 0.31);
}

.green{
    background-color:#0A083A;
}
.blue{
    background-color:#02BE83;
}
