@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;700&display=swap');


*{
    /* background-color: #999; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



/* HomePage */
.home{
    background-color: #FF3C78;
    -webkit-box-shadow: 9px 11px 71px 12px rgba(247, 128, 165, 0.31);
-moz-box-shadow: 9px 11px 71px 12px rgba(247, 128, 165, 0.31);
box-shadow: 9px 11px 71px 12px rgba(247, 128, 165, 0.31);
}

.green{
    background-color:#0A083A;
}
.blue{
    background-color:#02BE83;
}
.bestSeller{
    background-color: #315BFF;
}
.imgg{
    transform: matrix(-0.62, -0.79, -0.79, 0.62,0,0);
}

.backk{
    background: linear-gradient(97.49deg, #8AA8F8 -0.43%, #315BFF 144.53%);
    mix-blend-mode: normal;
}

.bord{
    border-bottom: 1px solid rgb(211, 210, 210);
    border-top: 1px solid rgb(211, 210, 210);
}

